html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,label,textarea,p {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none
}

article,aside,details,footer,header,nav,section {
  display: block
}

em,i {
  font-style: normal
}

img {
  border: none;
  vertical-align: middle
}

ol,ul {
  list-style: none
}

input[type=text],input[type=password],input[type=number],input[type=email],input[type=search],input[type=tel],input[type=radio],input[type=checkbox] {
  vertical-align: middle;
  outline: 0;
  color: #424242;
  -webkit-appearance: none;
  -webkit-user-select: text
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
  color: #999
}

select,textarea {
  outline: 0;
  color: #424242;
  -webkit-appearance: none
}

textarea {
  -webkit-user-select: text
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

a {
  color: #5e5e5e;
  text-decoration: none
}

a:hover {
  text-decoration: none
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

*:before,*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html, body {
  background: #f5f5f5;;
}

body {
  font: 400 14px/1.5 Arial,sans-serif;
  color: #5e5e5e;
  overflow-x: hidden;
  -webkit-text-size-adjust: none
}

.fl {
  float: left !important
}

.fr {
  float: right !important
}

.hide {
  display: none!important;
  visibility: hidden!important
}

.show {
  display: block!important
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden
}
